body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.container {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    background: rgb(115, 123, 132);
    
}

::placeholder{

    color: rgb(0, 0, 0);
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: #00c6ff;
    border: none;
}

button:hover {
    background: #0072ff;
    color: white;
}

#output {
    margin-top: 20px;
    background:  rgb(115, 123, 132);
    color: black;
    padding: 15px;
    border-radius: 10px;
    min-height: 80px;
}


.options {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.options input[type="range"] {
    width: 150px;
    margin-top: 5px;
}

